<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>DOM工具</title>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.5.1/dist/g2.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.10.1/dist/data-set.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery-3.2.1.min.js"></script>
    <style>
        .nodes circle {
            cursor: pointer;
            stroke: #3182bd;
            stroke-width: 1.5px;
        }

        .links line {
            fill: none;
            stroke: #9ecae1;
            stroke-width: 1.5px;
        }
    </style>
</head>

<body>
    <label class="ui_button ui_button_primary" for="uploadHTMLFile">选择</label>
    <form><input type="file" id="uploadHTMLFile" style="position:absolute;clip:rect(0 0 0 0);"></form>
    <div id="mountNode"></div>
    <script>
        document.getElementById('uploadHTMLFile').addEventListener('change', function () {
            var file;
            for (var x = 0, xlen = this.files.length; x < xlen; x++) {
                file = this.files[x];
                console.log(file.type);
                if (file.type.indexOf('html') != -1) { // 非常简单的交验
                    var reader = new FileReader();//文件预览对象
                    reader.readAsText(file);//设置要预览的文件
                    reader.onload = function (e) {//监听文件加载完成事件
                        data = e.target.result; //把预览图片的src设置为e.target.result属性。返回预览文件的二进制内存数据
                        $.ajax({
                            type: 'POST',
                            url: "/apis/tools/domtree",
                            data: data,
                            dataType: "text/html",
                            error: function (e) {
                                if(e.status!=200){
                                    console.info(e.status);
                                    return;
                                }
                                // console.info(e.responseText)
                                var result = JSON.parse(e.responseText).tree;
                                var dv = new DataSet.View().source(result, {
                                    type: 'hierarchy'
                                });
                                dv.transform({
                                    type: 'hierarchy.tree'
                                });

                                var chart = new G2.Chart({
                                    container: 'mountNode',
                                    forceFit: true,
                                    height: window.innerHeight,
                                    padding: [50, 0, 20, 0]
                                });
                                chart.axis(false);
                                chart.legend(false);
                                chart.coord('polar');

                                var edgeView = chart.view();
                                edgeView.source(dv.getAllLinks().map(function (link) {
                                    return {
                                        x: [link.source.x, link.target.x],
                                        y: [link.source.y, link.target.y],
                                        source: link.source.id,
                                        target: link.target.id
                                    };
                                }));
                                edgeView.edge().position('x*y').shape('smooth') // vhv
                                    .color('grey').opacity(0.5).tooltip('source*target');

                                var nodeView = chart.view();
                                nodeView.source(dv.getAllNodes().map(function (node) {
                                    // console.info(node)
                                    return {
                                        hasChildren: !!(node.data.children && node.data.children.length),
                                        name: node.data.name,
                                        value: node.data.size,
                                        depth: node.depth,
                                        x: node.x,
                                        y: node.y
                                    };
                                }));
                                nodeView.point().position('x*y').color('hasChildren').size('value',function(value){
                                    console.info(value)
                                    return value;
                                }).label('name', {
                                    offset: 0,
                                    labelEmit: true,
                                    textStyle: function textStyle(text, item) {
                                        var textAlign = item.textAlign;
                                        if (item.hasChildren) {
                                            textAlign = textAlign === 'left' ? 'right' : 'left';
                                        }
                                        return {
                                            fill: 'grey',
                                            fontSize: 12,
                                            textAlign: textAlign
                                        };
                                    }
                                });

                                chart.render();
                            }
                        });
                    };
                }
            }
        });
    </script>
</body>

</html>