<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>demo</title>
    <link href="https://lib.sinaapp.com/js/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/paper-preview.css" />
    <script src="https://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js"></script>
    <script src="https://libs.cdnjs.net/twitter-bootstrap/3.4.1/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                            <h3>
                                    袁文彬--算法实践
                                </h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        示例
                                    </th>
                                    <th>
                                        源码链接
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-danger">
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <a href="/aidemo/pointview">新闻人物观点攫取</a>
                                    </td>
                                    <td>
                                        <a href="https://github.com/webbery/aidemo/tree/master/algorithm/opinion_extraction">算法源码</a>
                                    </td>
                                </tr>
                                <tr class="table-active">
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        C++编写的简化版机器学习框架
                                    </td>
                                    <td>
                                        <a href="https://github.com/webbery/MiniEngine">源码</a>
                                    </td>
                                </tr>
                                <tr class="table-success">
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        <a href="/aidemo/summarization">提取新闻摘要</a>
                                    </td>
                                    <td>
                                        <a href="https://github.com/webbery/aidemo/tree/master/algorithm/summarization_extraction">算法源码</a>
                                    </td>
                                </tr>
                                <tr class="table-warning">
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        <a href="/aidemo/comment_classify">大众点评-评论分类</a>
                                    </td>
                                    <td>
                                        <a href="https://github.com/webbery/aidemo/tree/master/algorithm/comments_classify">算法源码</a>
                                        <a href="/aidemo/arguments_history">调参记录</a>
                                    </td>
                                </tr>
                                <tr class="table-danger">
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        <a href="/aidemo/subway">北京地铁路线查询</a>
                                    </td>
                                    <td>
                                        <a href="https://github.com/webbery/aidemo/tree/master/algorithm/subway.py">算法源码</a>
                                    </td>
                                </tr>
                                <!-- <tr class="table-active">
                                    <td>6</td><td>对话机器人</td><td>-</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
</body>
    
