<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!-- <link href="https://lib.sinaapp.com/js/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/paper-preview.css" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js"></script>
    <script src="https://libs.cdnjs.net/twitter-bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                    <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">起点站:</label>
                    <input type="text" class="form-control" id="startStation" placeholder="起点站">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">终点站:</label>
                    <input type="text" class="form-control" id="endStation" placeholder="终点站">
                </div>
                <select class="form-control" id="queryCondition"> 
                    <option value="0">最少站点</option>
                    <option value="1">最少换乘</option>
                </select>
                <button type="button" class="btn btn-success" onclick="search()">
                    查询
                </button>
                </form>
                <div id="queryResult">
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <script>
        $('#queryCondition').change(function(){
            let from = $('#startStation').val();
            let to = $('#endStation').val();
            if(from.length*to.length==0) return;
            search();
        });

        function isExist(station){
            if(station in stations) return true;
            return false;
        }
        function search(){
            let from = $('#startStation').val();
            if(from.length==0){
                alert('起点站 不能为空')
                return;
            }
            let to = $('#endStation').val();
            if(to.length==0){
                alert('终点站 不能为空')
                return;
            }
            let condition = $('#queryCondition').find('option:selected').attr('value');
            console.info(condition)
            $.ajax({
                type: 'POST',
                url: 'http://59.111.94.24:8977/apis/subway',
                data: {src:from,to:to,type:condition},
                dataType: 'json',
                success: function (data){
                    if(data.result){
                        alert(data.result);
                        return;
                    }
                    let html = '';
                    for(let idx=0;idx<data.path.length;++idx)
                    {
                        html += ('<p><span class="glyphicon glyphicon-record"></span> ' +data.path[idx]+'</p>');
                    }
                    $('#queryResult').html(html);
                },
                error: function (msg) {
                    alert(msg)
                }
            })
        }
    </script>
</body>
