<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Demo</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/paper-preview.css" />
    <script src="https://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.min.js"></script>
    <script src="https://libs.cdnjs.net/twitter-bootstrap/3.4.1/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="h3 page-header col-xs-4">提取摘要</div>
                <textarea class=" form-control col-xs-4" type="text" id="input_text">
                            </textarea>
                <button type="button" class="btn btn-success btn-block btn-md" onclick="extractSummarization()">
                    提取摘要
                </button>
                <div id="summarization"></div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="alert alert-danger fade in" id="tips">
</div>
    </div>
    <script>
        $('#tips').hide();
        function extractSummarization(){
            $("#summarization").html('');
            $.ajax({
                type: 'POST',
                url: '/apis/summarization',
                data: $("#input_text").val(),
                dataType: 'json',
                success: function (data){
                    console.info(data)
                    if(data.result==-1){
                        if(data.message.indexOf('short')>0){
                            $('#tips').show();
                            $('#tips').text('文本太短了');
                        }
                        else{
                            $('#tips').text(data.message);
                            $('#tips').show();
                        }
                        return;
                    }
                    $('#tips').hide();
                    $("#summarization").text(data.abstract);
                },
                error: function (msg) {
                    console.info(msg)
                }
            })
        }
    </script>
</body>
